{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="Nikiforov">
    <link rel="icon" href="{% static "main/favicon.ico" %}">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/dashboard/">

    {% block title %}
        <title>Страница</title>
    {% endblock title %}

    <!-- Bootstrap core CSS -->
    <link href="{% static "main/bootstrap.css" %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static "main/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "main/dashboard.css" %}" rel="stylesheet">

</head>
<body>
{% load flatpages %}
{% include 'header.html' with user=user turn_on_block=turn_on_block %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/products/">Товары</a></li>
                <li><a href="/about/">О нас</a></li>
                <li><a href="/contacts/">Контакты</a></li>
            </ul>
        </div>
        <div class="col-sm-7 col-sm-offset-3 col-md-8 col-md-offset-2 main">
            {% block content %}
            {{ content }}
            {% endblock content %}
        </div>
        <div class="col-sm-2 col-md-2 ">
            {% block filters %}
            {% endblock filters %}
        </div>
    </div>
</div>
</body>
</html>