{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="Nikiforov">
    <link rel="icon" href="{% static "main/favicon.ico" %}">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/dashboard/">

    {% block title %}
        <title>Страница</title>
    {% endblock title %}

    <!-- Bootstrap core CSS -->
    <link href="{% static "main/bootstrap.css" %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static "main/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "main/dashboard.css" %}" rel="stylesheet">

</head>
<body>
{% block mainbody %}
{% endblock mainbody %}
</body>
</html>